<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="line">
    <input type="text" name="year" placeholder="year" formControlName="year">
  </div>

  <div class="line">
    <input type="text" name="floor" placeholder="floor" formControlName="floor">
  </div>

  <div class="line">
    <input type="text" name="floorsCount" placeholder="floorsCount" formControlName="floorsCount">
  </div>      

  <div class="line">
    <input type="text" name="radius" placeholder="radius" formControlName="radius">
  </div>  

  <div class="line">
    <button type="submit" class="submit">Submit</button>
  </div>    
</form>
